#promotions{
font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-top: 33px;
margin-right: 831px;
}
#up-content{
    display: flex;
    flex-direction: row;
}
#control{
    display: flex;
    flex-direction: row;
    margin-top:30px;
}
.line{
  margin-left: 310px;
  margin-top: 42px;
  margin-right: 20px;
}
.left-arrow{
margin-right: 24px;
}
#main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 310px;
}
.item{
background: #FFFFFF;
border: 1px solid #D5D5D5;
box-sizing: border-box;
border-radius: 5px;
width: 310px;
height: 468px;
border-radius: 5px;
margin-right: 20px;
margin-top:51px;
}
.item img{
position: relative;
bottom: 2px;

}
.content-image{
    overflow: hidden;
}
.discount{
width: 74px;
height: 36px;
background: #91BA3B;
border-radius: 36px;
font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: white;
text-align: center;
margin-left: 15px;
margin-top:15px;
position:absolute;
z-index: 1;
}
.discount span{
    display:inline-block;
    margin-top: 5px;
}
.name-content{
font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
margin:24px 20px 0px 20px;
}
.price-content{
    display:flex;
    flex-direction:row;
    margin-left:20px;
    margin-top:20px
}
.new-price{
font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
color: #F2721B;
margin-right: 9px;
}
.old-price{
    margin-top: 12px;
}
.down-main-content{
    display:flex;
    flex-direction: row;
    margin-top: 25px;
}
.select-button{
background: linear-gradient(0deg, #F2721B, #F2721B);
border-radius: 5px;
width: 220px;
height: 49px;
font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color:white;
text-align: center;
}
.select-button span{
    margin-top: 13px;
    display: inline-block;
}
.heart{
    margin-right: 20px;
    margin-left: 20px;
    margin-top:10px;
}
