.logo{
    display:flex;
    flex-direction: column;
    margin:19px 57px 16px 311px;
}
#main-menu{
    display:flex;
    flex-direction: row;
    height: 80px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
}
.search-button{
    display:flex;
    flex-direction: row;
width: 152px;
height: 48px;
margin-top:15px;
margin-bottom:17px;
background: #F2721B;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
border-radius: 3px 0px 0px 3px;
}
.search-button span{
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 34px;
    font-size:14px;
    font-family: "Raleway";
    color:white;
}

.icon-burger{
    padding-right: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
#arrow-button{
    padding-right: 15px;
    padding-top: 16px;
}
#search-bar input{
width: 619px;
height: 48px;
position:relative;
 top: -1px;
 padding-left: 15px;
}
#search-bar svg{
    position: relative;
    left: -43px;
    top: 2px;
}
#number{
    font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-align: right;
color: #F2721B;
margin-top: 19px;
margin-left: 65px;
}
#schedule{
font-family: "Raleway";
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #6A6A6A;
text-align: right;
}
#schedule svg{
    margin-right: 10px;
}
#entrance{
 font-family: "Raleway";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color:black;
}
#entrance svg{
    margin-right: 10px;
    margin-left:53px;
    margin-top:28px;
}
#entrance span{
    display: inline-block;
    position: relative;
    top: -7px;
}
.basket-button{
width: 138px;
height: 48px;
background: #728153;
border-radius:3px;
margin-left: 58px;
margin-top: 16px;
display: flex;
flex-direction: row;
}
.basket-button span{
font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
text-align: right;
color: white;
margin-top:15px;
}
#basket{
    margin-left: 22px;
    margin-top: 10px;
    margin-right: 15px;
}