#up-header-ul{
    display: inline-flex;
    margin:0;
}
#up-header-ul li{
list-style-type: none;
margin-right: 60px;
font-family: "Open Sans";
font-size: 14px;
color:#CBCBCB;
padding-top: 11px;
padding-bottom:9px;
font-weight: 400;
}
#up-header-ul a{
    text-decoration: none;
 
}
#up-header-ul a:last-child{
    margin-left: 435px;
}
#up-header-ul a:first-child{
    margin-left: 311px;
}
#up-header{
    display: flex;
    height: 39px;
    background: #1A1A1A;
}